<p>Edit User Group</p>

<% @usergroup = Usergroup.find_by({ "id" => params["id"] }) %>
<% @usergroupusers = Usergroupuser.find_by({ "usergroup_id" => params["id"] }) %>

<table class="table">
    <tr>
        <th>Name</th>
        <th>User</th>
        <th>Actions</th>
    </tr>
    <% for usergroup in @usergroups %>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>

<% @user = User.find_by({ "id" => @usergroupusers["user_id"] }) %>
<%= @user["first_name"] %>

<% if @current_user %>
<% else %>
    You must first <a href="/login">login</a> to create a To-Do.
<% end %>