<% @usergroup = Usergroup.find_by({ "id" => params["id"] }) %>
<% @usergroupusers = Usergroupuser.find_by({ "usergroup_id" => params["id"] }) %>

<p>Edit User Group <%= @usergroup["name"] %></p>

<table class="table">
    <tr>
        <th>User</th>
        <th>Actions</th>
    </tr>
    <tr>
        <% @user = User.find_by({ "id" => @usergroupusers["user_id"] }) %>
        <td><%= @user["first_name"] %></td>
        <td></td>
    </tr>
</table>


<% if @current_user %>
<% else %>
    You must first <a href="/login">login</a> to create a To-Do.
<% end %>