<div class="col text-right">
    <a href="/usergroups/new/" class="btn btn-secondary btn-sm">New User Group</a>
</div>

<table class="table">
    <tr>
        <th>Name</th>
        <th>User</th>
        <th>Actions</th>
    </tr>
    <% for usergroup in @usergroups %>
        <tr>
            <td><%= usergroup["name"] %></td>
            <% user = User.find_by({ "id" => usergroup["owning_user_id"] }) %>
            <td><%= user["first_name"] %></td>
            <td>
            <table>
                <tr>
                    <td>
                        <%= button_to "Delete", usergroup_path(usergroup), method: :delete, class: "btn btn-danger btn-sm" %>
                    </td>
                    <td>
                        <%= button_to "Edit", edit_usergroup_path(usergroup), method: :get, class: "btn btn-warning btn-sm" %>
                    </td>
                 </tr>   
            </table>
            </td>
        </tr>
    <% end %>
</table>