<h2>New To-Do List</h2>

<% if @current_user %>
    <%= form_with :model => @todolist do |form| %>
        <div class="mb-3">
        <%= form.label "title", :class => "form-label" %>
        <%= form.text_field "title", :class => "form-control" %>
        </div>

    <%= form.submit "Create To-Do List", :class => "btn btn-primary" %>
<% end %>
<% else %>
    You must first <a href="/login">login</a> to create a To-Do.
<% end %>